.heroContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 250px 0;
}

.leftHero {
  display: flex;
  max-width: 550px;
  flex-direction: column;
}

.heroSubHead {
  color: #232829;
  font-family: Vi_MD;
  font-size: 32px;
}

.heroHead {
  color: #232829;
  font-family: Vi_HV;
  font-size: 64px;
  line-height: normal;
  margin: -8px 0 8px 0;
}

.heroDesc {
  color: #232829;
  font-family: Vi_RG;
  font-size: 20px;
}

.heroButton {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.primaryButton {
  color: #fff;
  text-align: center;
  font-family: Vi_MD;
  font-size: 15px;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background: #232829;
  border: none;
  margin-right: 16px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2),
    0px 10px 10px 0px rgba(0, 0, 0, 0.17), 0px 23px 14px 0px rgba(0, 0, 0, 0.1),
    0px 41px 16px 0px rgba(0, 0, 0, 0.03), 0px 64px 18px 0px rgba(0, 0, 0, 0);
}

.secondaryButton {
  color: #232829;
  text-align: center;
  font-family: Vi_MD;
  font-size: 15px;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background: #f1f1f1;
  border: none;
  margin-right: 1rem;
  box-shadow: 0px 39px 87px 0px rgba(0, 0, 0, 0.05),
    0px 158px 158px 0px rgba(0, 0, 0, 0.04),
    0px 355px 213px 0px rgba(0, 0, 0, 0.03),
    0px 630px 252px 0px rgba(0, 0, 0, 0.01),
    0px 985px 276px 0px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 980px) {
  .heroContainer {
    margin: 200px 0;
    justify-content: center;
  }

  .leftHero {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .heroSubHead {
    font-size: 28px;
  }

  .heroHead {
    font-size: 50px;
    margin: 4px 0;
  }

  .heroDesc {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .heroButton {
    margin-bottom : 70px;
  }

  .primaryButton, .secondaryButton {
    font-size: 14px;
  }

  .rightHero {
    width : 550px !important;
    height: 350px !important;
    border-radius: 30px !important;
  }
}
