.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-right: 72px;
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  font-size: 1.1rem;
  font-family: Vi_MD;
}

@media screen and (max-width: 980px) {
  .linksContainer {
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    height: auto;
    position: absolute;
    top: -30px;
    left: 0%;
    align-items: stretch;
    padding-top: 50px;
    width: 100%;
    margin: 100px 0;
    z-index: -1;
    transform: translateY(-120%);
    transition: 0.6s ease-in-out;
  }

  .linksContainerActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    height: auto;
    position: absolute;
    top: 0;
    align-items: stretch;
    padding-top: 50px;
    width: 100%;
    margin: 100px 0;
    z-index: 99;
    left: 0;
    transform: translateY(0);
    transition: 0.6s ease-in-out;
  }

  .links {
    margin: 20px 0;
  }
}
