/* Importing fonts */
@font-face {
  font-family: Vi_BD;
  src: url(./assets/fonts/Vi-Bold.ttf);
}

@font-face {
  font-family: Vi_HV;
  src: url(./assets/fonts/Vi-Heavy.ttf);
}

@font-face {
  font-family: Vi_LT;
  src: url(./assets/fonts/Vi-Light.ttf);
}

@font-face {
  font-family: Vi_MD;
  src: url(./assets/fonts/Vi-Medium.ttf);
}

@font-face {
  font-family: Vi_RG;
  src: url(./assets/fonts/Vi-Regular.ttf);
}


/* Main CSS */
*{
  margin: 0;
  font-family: Vi_RG, sans-serif;
  box-sizing: border-box;
}
